body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif
}

header {
    font-size: 50px;
    text-alignr;
    center
}

header {
    font-size: 50px;
    text-align: center;
    border-bottom: dashed 5px rgb(255, 255, 255);
    padding: 30px;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 30px;
    padding-left: 30px
}

p {
    font-size: 20px;
    padding-left: 30px
}

.chamada{
    background-color: rgb(168, 214, 208);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 10;
}

img{
    width: 300px;
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-left: 20px;
}

h2{
    padding-left: 30px;
}

body{
    padding-bottom: 40px;
}