body {
    background-color: rgb(255, 68, 215);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif
}

header {
    font-size: 50px;
    text-alignr;
    center
}

header {
    font-size: 50px;
    text-align: center;
    border-bottom: dashed 5px rgb(255, 255, 255);
    padding: 30px;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 30px;
    padding-left: 30px
}

p {
    font-size: 20px;
    padding-left: 30px
}

section {
    background-color: blueviolet;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 10;
}

